{% extends "checkout/base_confirm.html" %}
{% load l10n i18n satchmo_util %}
{# this is the Paypal confirm template #}

{% block payment_step %}<a href="{% url "PAYPAL_satchmo_checkout-step2" %}">{% trans "Payment" %}</a>{% endblock %}

{% block payment_display %}
<h2>{% trans "Payment" %}</h2>
{% if not PAYMENT_LIVE %}<b>PAYMENT TEST MODE</b><br/>{% endif %}
<p>{% trans "Your payment will be processed through PayPal." %}</p>
{% endblock %}

{% block payment_form %}
  <script src="https://www.paypalobjects.com/api/checkout.js" async data-version-4></script>
  <script src="{% media_url "static/js/paypal.js" %}"></script>
  {% localize off %}
  <form id="paypal-form" action="." method="post">
    <input type="hidden" name="environment" value="{{ environment }}">
    <input type="hidden" name="create-payment" value="{% url "paypal:satchmo_checkout-create-payment" %}">
    <input type="hidden" name="execute-payment" value="{% url "paypal:satchmo_checkout-execute-payment" %}">
    <div id="paypal-button"></div>
  </form>
  {% endlocalize %}
{% endblock %}
