<!DOCTYPE html>
{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency %}
<html>
<head>
    {% block extra-head %}{% endblock %}
    <title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>
</head>
{% block body %}
<body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    <div id="container">
	    <div id="top">
	        <h1>{{ shop_name }}</h1>
	    </div>

	    <div id="navbar">
	    <ul>
	    	{% block navbar %}Breadcrumbs here{% endblock %}
	   </ul>
    </div>

    <div id="leftnav">
		{% block leftnav %}
		<div>
			{% satchmo_search_form %}
		</div>
		<div>
			{% block sidebar %}
			<h3>{% trans "Shop Categories" %}</h3>
			<div id="menu_container">
				{% category_tree %}
			</div>
			{% endblock %}
		</div>
		{% endblock leftnav %}
	</div>

	<div id="rightnav">
		{% block rightnav %}
		<h3>{% trans "Quick Links" %}</h3>
		{% url "satchmo_product_recently_added" as recenturl %}
		{% if recenturl %}<a href="{{ recenturl }}">{% trans "Recently Added" %}</a><br/>{% endif %}
		{% url "satchmo_product_best_selling" as popularurl %}
		{% if popularurl %}<a href="{{ popularurl }}">{% trans "Best Sellers" %}</a>{% endif %}

	    <h3>{% trans "Account Information" %}</h3>
	    {% if user.is_staff %}
		<a href="/admin" target="blank">{% trans "Admin" %}</a><br/>
		{% endif %}
	    {% if user.is_authenticated %}
		{% url "satchmo_account_info" as accounturl %}
        {% if accounturl %}<a href="{{ accounturl }}" target="blank">{% trans "Account Details" %}</a><br/>{% endif %}
        <a href="{{ logout_url }}">{% trans "Log out" %}</a><br/>
	    {% else %}
        <a href="{{ login_url }}?next={{request.path}}">{% trans "Log in" %}</a><br/>
	    {% endif %}

		{% url "satchmo_cart" as carturl %}
	    {% if carturl %}<a href="{{ carturl }}">{% trans "Cart" %}</a>{% endif %}

	    {% if cart_count %}
        ({{ cart_count }}{% if cart.total %} - {% spaceless %}{% if shop.options.TAX.DEFAULT_VIEW_TAX.value %}
        {% load satchmo_tax %}{% cart_taxed_total cart 1 %}{% else %}
        {% endif %}{% endspaceless %}{% endif %})<br/>
		{% url "satchmo_checkout-step1" as checkouturl %}
        {% if checkouturl %}<a href="{{ checkouturl }}">{% trans "Check out" %}</a>{% endif %}
	    {% endif %}

	    {% if user.is_authenticated and "wishlist"|app_enabled %}
		{% url "satchmo_wishlist_view" as wishlist_url %}
	    {% if wishlist_url %}<p class="wishlist"><a href="{{ wishlist_url }}" />{% trans 'Wishlist' %}</a></p>{% endif %}
	    {% endif %}


            {% satchmo_language_selection_form %}

	    {% block recentview %}
		{% if recent_list %}{% recentlyviewed recent_list %}{% endif %}
	    {% endblock recentview %}
		{% endblock rightnav%}

            {% load satchmo_currency %}
            {% block cartarea %}
                <div class="cartarea">
                    <a href="{{ carturl }}"><h3>{% trans "Shopping Cart" %}</h3> {% trans "[edit]" %}</a>
                    <div class="cart">
                        {% if cart %}
                            <ul class="cart">
                            {% for item in cart %}
                                <li>{{item.quantity}} x <a href="{{item.product.get_absolute_url}}" title="{{item.description}}">{{item.description}}</a> {% currency item.line_total %}</li>
                            {% endfor %}
                            </ul>
                            <p>
                                <span class="carttotal">{% trans "Total" %}: {% currency cart.total %}</span><br />
                                + <a href="shipping/" title ="postage/shipping info">{% trans "postage" %}</a>
                            </p>
                        {% else %}
                                {% trans "Your shopping cart is empty." %}
                        {% endif %}
                        <div class="checkoutlink">
                            <a href="{% url "satchmo_checkout-step1" %}">&#x21AA; {% trans "Check out" %}</a>
                        </div>
                    </div>
                </div>
            {% endblock %}
	</div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        {% blocktrans %}Powered by Jelly Roll.{% endblocktrans %}
        {% endblock %}
    </div>

    </div>
{% block google-tracker %}
    {% if shop.options.GOOGLE.ANALYTICS.value %}
    {% show_tracker is_secure %}
    {% endif %}
{% endblock %}
</body>
{% endblock %}
</html>
