{% extends "base_satchmo.html" %}
{% comment %}
-------------------------------------------------------------------
This is the base product detail page.
To modify the templates of specific types of products, such as
ProductVariations or CustomProducts, look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load satchmo_thumbnail %}
{% load satchmo_price satchmo_product %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util %}
{% if "recentlist"|app_enabled %}{% load satchmo_recentlist %}{% endif %}

{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for name, url in product.category.all.0.get_url_name %}
    <li><a href="{{ url }}">{{ name }}</a></li>
{% endfor %}
<li>{{ product.translated_name }}</li>
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Shop Categories" %}</h3>
    <div id="menu_container">
    {% if product.get_category %}
        {% category_tree product.get_category.id %}
    {% else %}
        {% category_tree %}
    {% endif %}
    </div>
{% endblock %}

{% block recentview %}
{% if recent_products %}
{% if "recentlist"|app_enabled %}{% recentlyviewed recent_products product.slug %}{% endif %}
{% endif %}
{% endblock %}

{% block content %}
{% block productdetail %}
{% full_product product %}
{% product_upsell product %}

    {% if product.instructions %}
        <h4>Usage Instructions & Tips</h4>
        <div id="instructions">
            <b>Usage:</b>
            <p>{{ product.instructions.instructions|linebreaks }}</p>
        </div>
    {% endif %}
    {% if product.ingredients %}
        <h4>Ingredients</h4>
        <div id="ingredients">
            <b>Ingredients</b>
            <p>{{ product.ingredients.ingredients|linebreaks }}</p>
        </div>
    {% endif %}
    {% if product.precautions %}
        <h4>Precautions</h4>
        <div id="precautions">
            <b>Precautions</b>
            <p>{{ product.precautions.precautions|linebreaks}}</p>
        </div>
    {% endif %}

{% endblock %}

{% block productfooter %}
{% if sale %}
{% include "discount/product_eligible.html" %}
{% endif %}
{% endblock %}
{% endblock %}
