{% load satchmo_category %}
{% if categories %}
<ul>
    {% for category in categories %}
        {% if category.active %}
        <li>
            {% with category.get_active_children as cat_children %}
            <a href="{% ifequal cat_children|length 1 %}{% with cat_children|first as cat %}{{ cat.get_absolute_url }}{% endwith %}{% else %}{{ category.get_absolute_url }}{% endifequal %}" title="{{ category }}">
                {{ category.name }}
            </a>
            {% category_tree category.id %}
            {% endwith %}
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
