{% extends "base_product.html" %}
{% load i18n satchmo_category satchmo_currency satchmo_price satchmo_util %}

{% block productdetail %}
<h4>{% blocktrans with product.name as name %}Custom order for {{ name }}{% endblocktrans %}</h4>
<p>{% autoescape off %}{{ product.description }}{% endautoescape %}</p>
{% trans "Price" %}: <h3 id="price">{% currency product.unit_price %}</h3>
{% for pic in product.productimage_set.all %}
    <img src="{{ pic.picture.url }}" width="280" />
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url "satchmo_smart_add" %}" method="post">

{% for option_group in options %}
 {{ option_group.name}}
    <select name="{{ option_group.id }}" id="{{option_group.id}}" class="priced">
    {% for choice in option_group.items %}
     <option value="{{ choice.value }}" {% if choice.selected %}selected="selected"{% endif %}>{{ choice.name }}
        {% if choice.price_change %}
            {% option_price choice %}
        {% endif %}
     </option>
    {% endfor %}
      </select><br/>
{% endfor %}

{% for custom in product.customproduct.custom_text_fields.all %}
<div>
{{ custom.name }} {% if custom.price_change %} ({% currency custom.price_change %} {% trans "more" %}){%endif%}<br/>
<textarea name="custom_{{ custom.slug }}" rows="3" cols="40"></textarea>
</div>
{% endfor %}
{% trans "Quantity" %} <input type="text", size="2", name="quantity" id="quantity" value="1" class="priced" />
<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
<input type="submit" name="addcart" value="{% trans "Add to cart" %}" />
{% if "wishlist"|app_enabled and user.is_authenticated %}
<input type="submit" name="addwish" value="{% trans "Add to wishlist" %}" />
{% endif %}
{% product_upsell product %}
</form>
{% endblock %}
