{% extends "base_satchmo.html" %}
{% load i18n satchmo_price satchmo_currency satchmo_util satchmo_discounts %}

{% block navbar %}
    <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
    <li>{% trans "Wishlist" %}</li>
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Shop Categories" %}</h3>
    <div id="menu_container">
    </div>
{% endblock %}

{% block content %}
{% if wishlist_message %}
<div class="message">
    {{ wishlist_message }}
</div>
{% endif %}
<div id="wishlist">
<h2>{% trans "Wishlist" %}</h2>
    <ul>
    {% for wish in wishlist %}
    {% with wish.product as product %}
            <li>
                <p>
                    {% if product.main_image %}
                        <img style="float:left; padding: 0 1em 0 0" src="{{ product.main_image.picture.url }}" />
                    {% endif %}
                    <h3>{{ product }}</h3>
                    {{ product.description|linebreaksbr }}
                </p>
                <p>{% trans "Price" %}:
                        {% if default_view_tax %}{% currency product.price_with_tax %}
                        {% else %}
                                {% if sale %}<span class="struckthrough">{% currency product.unit_price %}</span> <span class="salestyle">{% discount_price product sale %}</span><br><strong> Save {% discount_saved product sale %} ({{ sale.percentage_text }} off!)</strong><em>{% include "discount/some_eligible.html" %}</em>
                                {% else %}<strong>{% currency product.unit_price %}</strong>
                                {% endif %}
                        {% endif %}</p>

                Availability:{% if product.in_stock %} {{product.items_in_stock}} In Stock {% else %} Out of Stock {% endif %}</p>
                <form id="options" action="{% url "satchmo_smart_add" %}" method="post" style="display:inline;">
                <input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
                {% if product.in_stock %}
                    {% trans "Quantity" %} <input type="text", size="2", name="quantity" id="quantity" value="1" class="priced" />
                    <input type="submit" name="addcart" value="{% trans "Buy me!" %}" />
                {% endif %}
                </form>
                <form name="addform" action="{% url "satchmo_wishlist_remove" %}" method="POST" style="display:inline;">
                    <input type="hidden" name="id" value="{{ wish.id }}" />
                    <input type="submit" value="{% trans 'Remove from wishlist' %}" />
                    {% blocktrans with wish.create_date|date:"d/m/Y" as create_date %}Added to wishlist on {{ create_date }}{% endblocktrans %}
                </form>
            </li>
    {% endwith %}
    {% endfor %}
    </ul>
</div>
{% endblock %}
